@import "style.css";
body
{
    font-family: 'Ubuntu', sans-serif;
}

.bloque
{
    margin-top: 10px;
    margin-bottom: 20px;
}

.pregunta 
{
    display: inline;
}

.respuesta 
{
    display: inline;
}

.pregunta::before 
{
    counter-increment: incrementar;
    content: counter(incrementar) ".";
}

.respuesta[data-valor="true"]::before 
{
    content: "V";
    display: inline;
}

.respuesta[data-valor="false"]::before 
{
    content: "F";
    display: inline;
}
