@import "style.css";
body
{
    font-family: 'Droid Serif', serif;
}

.bloque
{
    background-color: whitesmoke;
    border-style: solid;
    border: 1px;
    border-color: lightgray;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 6px 6px 3px slategray;
}

.pregunta::before
{
    display: block;
    counter-increment: incrementar;
    content: "Pregunta " counter(incrementar);  
    margin-bottom: 1ex;
}

.respuesta[data-valor="true"]::before 
{
    content: "Verdadero";
}

.respuesta[data-valor="false"]::before 
{
    content: "Falso";
}